syntax: glob

*.*project
*.cache
*.swp
*.tar.gz
*~
Makefile.in
aclocal.m4
build
compile
config.guess
config.h.in
config.sub
configure
depcomp
install-sh
ltmain.sh
missing
opcode2name.cpp
opcode2name.h
test-driver
